@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Oswald';
        font-weight: 400;
        src: url('../fonts/Oswald.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Anton';
        font-weight: 400;
        src: url('../fonts/Anton.ttf') format('truetype');
    }
}
